<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recommendation Page</title>
  <!-- <link rel="stylesheet" href="recommendation.css"> -->
  <style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  
.container {
    display: flex;
    flex-direction: column;
   
}

.left-side {
    width: 100%;
    background-color: #00416A;
    padding: 20px;
    box-sizing: border-box;
    height:100vh;
}

.left-side h1 {
    margin-bottom: 20px;
   
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons a {
    text-decoration: none;
}

.buttons button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color:white;
    color:#002570;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
}

.buttons button i {
    margin-right: 10px;
}

.right-side {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.right-side input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #8A2BE2;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.recommendations {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recommendation {
    display: flex;
    border: 1px solid #8A2BE2;
    border-radius: 5px;
    overflow: hidden;
    background-color:white;
    width:100%;
}

.image-container {
    flex: 0 0 150px;
    overflow: hidden;
}

.image-container >img {
    

    width:100px;
    height:100px;
    object-fit:contain;
    
    
}

.text-container {
    flex: 1;
    padding: 10px;
}

.text-container h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #00416A;
}

.text-container p {
    margin: 0;
    color:#00416A;
}

a {
    color: #240952;
    text-decoration: none;
}

a:hover {
    color: rgb(160, 136, 136);
    text-decoration: none;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .left-side {
        width: 25%;
    }

    .right-side {
        width: 75%;
    }

    .image-container{
      display:inline;
    }
}
  </style>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <!-- <p>User ID: <%= user_id %></p> -->
  <!-- <p>Suggestions: <%= JSON.stringify(suggestions) %></p> -->
  <div class="container">
    <div class="left-side">
      <h1><a href="/home">Khan Pin</a></h1>
      <div class="buttons">
        <form action="/recommendation" method="POST">
            <button id="recommendation"> <i class='bx bx-dish' ></i>Recommendation</button>
        </form>
        <a href="/map"> <button><i class='bx bx-map' ></i> Map</button></a>
        
        <form action="/signout" method="POST">
          <!-- <input type="hidden" name="user_id" value=<%=user_id%>> -->
          <button id="signuout"> <i class='bx bx-dish' ></i>Sign Out</button>
      </form>
      </div>
    </div>
    <div class="right-side">
      <input type="text" placeholder="Search for recipes...">
      <div class="recommendations">
        <% for (let i = 0; i < suggestions.length; i++) { %>
          <% if (suggestions[i].id.toString() === user_id.toString())
            { %>
             
              <a href="<%= suggestions[i].link %>" class="container">
                <div class="recommendation">
                  <div class="image-container">
                    <img src="<%= suggestions[i].image%>" alt="<%= suggestions[i].name %>">
                  </div>
                  <div class="text-container">
                    <h2><%= suggestions[i].name %></h2>
                    <!-- <p>Taste: <%= suggestions[i].taste %></p>
                    <p>Level: <%= suggestions[i].level %></p>
                    <p>Type: <%= suggestions[i].type %></p> -->
          
                    <p><%= suggestions[i].taste %>, <%= suggestions[i].level %>, <%= suggestions[i].type %></p>
          
                    
                  </div>
                </div>
              </a>
            <% } %>
          <% } %>
      </div>
    </div>
  </div>
</body>

</html>